@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 56%, rgba(238, 237, 237, 1) 82%, rgba(213, 213, 213, 1) 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}